<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<head>
<title>
</title>
</head>
<body>
<h1>Welcome</h1>
<h1><%= name %></h1>
<img  alt="profile photo" src='../public/uploads/<%= profilephoto %>' />
<h2>would you like yo upload more work ?</h2>
<script>
function myFunction() {
    alert("you item has been uploaded successfully");
}
</script>

<form method="post" action='/upload' enctype="multipart/form-data">
 <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="myimage"/>

<button type="submit" name="submit" onclick="myFunction()"class="btn btn-primary">submit</button>

</form>
<h1>Add/update profile photo</h1>
<form method="post" action='/upload/profile' enctype="multipart/form-data">
  <label class="control-label col-sm-2" >Profile Photo :</label></br>
                     
 <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="myimage" required />

<button type="submit" name="submit" onclick="myFunction()"class="btn btn-primary">submit</button>
</form>

<form method="post" action="/students/summary">
   <button type="submit"  class="btn btn-primary btn-sm"  onclick="/student'/'summary"> View your work</button>
   </form>


</body>
</html>